allow init wpa_socket:unix_dgram_socket { bind create };
allow init radio_device:lnk_file relabelto;
allow init self:capability sys_module;
allow init labeledfs:filesystem associate;
allow init su_exec:file execute_no_trans;
