# Kernel bug for Linux < 3.3: sysfs inodes can lose their security context
# and revert to the base sysfs type.
allow rild sysfs:file write;

allow rild self:netlink_socket { create bind read write };
allow rild self:netlink_route_socket { write };
allow rild self:netlink_kobject_uevent_socket { create bind read write };
allow rild self:process execmem;

allow rild radio_data_file:dir r_dir_perms;
#allow rild radio_data_file:dir setattr;
allow rild system_data_file:dir create_dir_perms;
allow rild system_data_file:file create_file_perms;

allow rild radio_device:chr_file rw_file_perms;
allow rild efs_file:file { read open write setattr };
